.pro-intro-card {
    background-color: #181810;
    min-height: 11.8rem;
    box-shadow: 0 7px 12px rgba(0, 0, 0, .4);
    transition: all .25s;
}

.pro-intro-card:hover {
    background-color: #06212188;
    transform: translateY(3.75px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
}

.pro-intro-img {
    min-height: 11.7rem;
    object-fit: cover;
}

@media only screen and (max-width: 1400px) {
    .pro-intro-card {
        min-height: 10rem;
    }

    .pro-intro-card p {
        font-size: .85rem;
    }
}

@media only screen and (max-width: 776px) {
    .pro-intro-card p {
        font-size: .85rem;
    }

    .pro-intro-img {
        height: 10rem;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .pro-img-box {
        text-align: center;
    }

}