.portfolio-card {
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.port-img-box {
    overflow: hidden;
}

.port-img {
    transition: all .25s;
    overflow: hidden;
}

.portfolio-card:hover .port-img {
    transform: scale(1.15);
}

.portfolio-card h5 {
    border-bottom: 1px solid #e4dcad;
    padding: 1rem 0;
}