.header {
    background-image: linear-gradient(to right, #18181050, #181810b6), url("../../../images/header\ \(6\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 7.5rem;
}

.header div {
    margin-left: 8rem;
}

.header h1 {
    font-weight: 700;
    font-size: 4.25rem;
}

@media only screen and (max-width: 990px) {
    .header {
        padding-top: 4rem;
        min-height: 85vh;
    }

    .header div {
        margin-left: 3rem;
    }

    .header h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 776px) {
    .header {
        min-height: 70vh;
    }

    .header h1 {
        font-size: 3rem;
    }

    .header div {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}