.admin,
.user {
    min-height: 100vh;
    display: flex;
    padding-top: 5.7rem;
}

.admin-main-head {
    background-color: #062121;
    margin-bottom: 0;
    padding: 1.155rem 5.15rem;
    margin: 2rem 1rem;
}

.left {
    background-color: #181810;
    flex: 0 0 20%;
}

.right {
    flex: 1;
    background-color: #01010138;
    min-height: 100vh;
    padding: 2rem;
}

.left-bar {
    text-decoration: none;
}

.left-bar li {
    list-style: none;
}

.left-bar li a {
    display: block;
    padding: 1.5rem 0rem 1.5rem 3.75rem;
}

.left-bar li a:hover {
    background-color: #131111a9;
}

.admin-head {
    background-color: #062121;
    padding: 1.155rem;
    padding-left: 4rem;
}

@media only screen and (max-width: 990px) {

    .admin,
    .user {
        flex-direction: column;
        padding-top: 5.7rem;
    }

    .left {
        flex: 0 0 12.5%;
    }

    .left-bar {
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem;
    }

    .left-bar li a {
        display: block;
        padding: 1.5rem;
    }
}