.service-card {
    border: 1px solid #ffd56b;
    border-radius: 5px;
    padding: 2rem 2rem 1rem;
    transition: all .15s;
    position: relative;
}

.service-img {
    height: 6.5rem;
    transition: all .25s;
}

.service-text {
    transition: all .10s;
}

.service-text:not(:last-child) {
    border-bottom: 1px solid #ffd56bc7;
}

.service-card:hover {
    background-color: #ffd56bbe;
    color: #181810;
}

.service-card:hover .service-img {
    transform: translateX(12rem);
}

.service-head {
    transition: all .25s;
}

.service-head-sec {
    transition: all .25s;
}

.service-card:hover .service-head-sec {
    transform: translateX(2.5rem) translateY(1.5rem) scale(1.3);
    font-weight: 700;
}

.service-card:hover .service-head {
    transform: translateX(-10.25rem);
}

.service-card:hover .service-text:not(:last-child) {
    border-bottom: 1px solid transparent;
}

.service-card:hover .service-top {
    opacity: 0;
}

.service-bottom {
    position: absolute;
    top: 70%;
    visibility: hidden;
}

.service-card:hover .service-bottom {
    visibility: visible;
}


.service-icon {
    font-size: 3.5rem;
    transition: all .25s ease-out .25s;
    color: #181810;
}

.service-card:hover .service-icon {
    transform: translateX(15rem);
}