.service-card {
    border: 1px solid #ffd56b;
    border-radius: 5px;
    padding: 2rem 2rem 1rem;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    box-shadow: -5px 5px 20px #ffd56b1e inset;
}

.service-img {
    height: 6.5rem;
    transition: all .25s;
}

.service-card:hover .service-img {
    animation: img-anim 1s infinite backwards;
}

.service-text {
    transition: all .10s;
}

.service-text {
    border-bottom: 1px solid #ffd56bc7;
}

.service-card:hover {
    background-color: #062121a2;
    transform: translateY(-5px)
}

.service-head {
    /* transition: all .25s; */
}

.service-card:hover .service-head {
    visibility: hidden;
}

.service-head-sec {
    transition: all .5s cubic-bezier(.06, .71, .2, 1.49);
}

.service-card:hover .service-head-sec {
    transform: translateX(3.5rem) translateY(8.5rem) scale(1.3);
    font-weight: 700;
}

.service-card:hover .service-text {
    border-bottom: 1px solid transparent;
}

.service-card:hover .service-top {
    opacity: 0;
}

.service-price {
    width: 20%;
    transition: all .25s cubic-bezier(.06, .71, .2, 1.49) .15s;

}

.service-card:hover .service-price {
    transform: translateX(8rem) translateY(-9rem) scale(1.5);
}


.service-bottom {
    position: absolute;
    top: 70%;
    visibility: hidden;
}

.service-card:hover .service-bottom {
    visibility: visible;
}


.service-icon {
    font-size: 3.5rem;
    color: #181810;
    transition: all .25s cubic-bezier(.06, .71, .2, 1.49) .15s;
}

.service-card:hover .service-icon {
    transform: translateX(15rem);
    color: #ffd56bc7;
}





/*************************** MEDIA QUERIES ****************************/

@media only screen and (max-width: 1200px) {
    .service-card:hover .service-img {
        transform: translateX(0);
    }

    .service-card:hover .service-head {
        transform: translateX(0);
    }

    .service-card:hover .service-head-sec {
        transform: translateX(0) translateY(0) scale(1);
    }

    .service-card:hover .service-bottom {
        visibility: hidden;
    }

    .service-card:hover .service-top {
        opacity: 1;
    }

    .service-card:hover .service-icon {
        transform: translateX(0);
    }

    .service-card:hover .service-text {
        border-bottom: 1px solid #ffd56bc7;
    }

    .service-head {
        padding-left: 4rem;
    }

    .service-card:hover .service-price {
        transform: translateX(0) translateY(0) scale(1);
    }
}


/* ANIMATIONS */

@keyframes img-anim {
    0% {
        opacity: 1;
        transform: scale(1.05) translateX(6rem);
    }

    50% {
        opacity: .2;
        transform: scale(.95) translateX(6rem);
    }

    100% {
        opacity: 1;
        transform: scale(1.05) translateX(6rem);
    }
}