.orderLists {}

.orderLists-head {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid lightyellow;
}

.orderLists-head h6 {
    flex: 1;
    text-align: center;
}

@media only screen and (max-width: 990px) {
    .orderLists-head {
        flex-direction: column;
    }

    .orderLists-head h6 {
        padding: .25rem 0;
    }

}