.testimonial-card {
    box-shadow: 0 7px 12px rgba(0, 0, 0, .4);
    transition: all .25s;
}

.testimonial-card:hover {
    background-color: #06212188;
    transform: translateY(3.75px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
}

.testimonial-card p {
    margin-bottom: 0;
}

.test-img {
    height: 4rem;
    border-radius: 50px;
}