.ol-card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightyellow;
    padding: 1rem;
}

.ol-card p {
    flex: 1;
    text-align: center;
    margin-bottom: 0;
}

.status {
    border: none;
    outline: none;
    padding: .4rem;
    border-radius: 3px;
}

.status-pending {
    background-color: #ff8882;
    color: #333333;
}

.status-onGoing {
    background-color: #fdb827;
    color: #393e46;
}

.status-done {
    color: #333333;
    background-color: #a6f0c6;
}