* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-cl-pri {
  color: #181810 !important;
}

.my-cl-sec {
  color: #e4dcad !important;
}

.app {
  min-height: 100vh;
  background-color: #181810;
  color: #e4dcad !important;
  font-family: 'Josefin Sans', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  border-bottom: none;
}

.my-container {
  padding: 0 11.15rem;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 93.5%;
  }

  .my-container {
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 90%;
  }

  .my-container {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 85%;
  }

  .my-container {
    padding: 0 2.5rem;
  }
}

@media only screen and (max-width: 776px) {
  html {
    font-size: 78%;
  }

  .my-container {
    padding: 0 1.5rem;
  }
}