* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-cl-pri {
  color: #181810 !important;
}

.my-cl-sec {
  color: #e4dcad !important;
}

.app {
  min-height: 100vh;
  background-color: #181810;
  color: #e4dcad !important;
  font-family: 'Josefin Sans', sans-serif;
}

.my-container {
  padding: 0 11.15rem;
}